/* CSS files add styling rules to your content */

/* body {
font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
  } */

/*background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));*/

table {
  table-layout: auto;
  width: 100%;
  border: 2px solid purple;
  border-collapse: collapse;
}

tbody {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
  background-image: url("http://usercrunch.com/temp/noise.png");
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
}

tbody td {
  padding: 10px;
}

th {
  background-image: url("http://usercrunch.com/temp/leopardskin.jpg");
  font-family: 'Rock Salt', cursive;
  color: white;
  border: 2px solid purple;
  padding: 15px;
}

tfoot {
  font-family: 'Rock Salt', cursive;
  color: white;
  border: 2px solid purple;
  background-image: url("http://usercrunch.com/temp/leopardskin.jpg");
}

tfoot td {
  padding: 15px;
  border: 2px solid purple;
}

caption {
  caption-side: bottom;
  font-family: 'Rock Salt', cursive;
  text-align: right;
  padding: 15px;
}
